<div>
    <h2 id="page-heading">
        <span jhiTranslate="marketplaceApp.apimanagerUsedResourceScope.home.title">Used Resource Scopes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-used-resource-scope" [routerLink]="['/used-resource-scope/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="marketplaceApp.apimanagerUsedResourceScope.home.createLabel">
            Create new Used Resource Scope
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="usedResourceScopes?.length === 0">
        <span jhiTranslate="marketplaceApp.apimanagerUsedResourceScope.home.notFound">No usedResourceScopes found</span>
    </div>
    <div class="table-responsive" *ngIf="usedResourceScopes?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="resourceId"><span jhiTranslate="marketplaceApp.apimanagerUsedResourceScope.resource">Resource</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="scopeId"><span jhiTranslate="marketplaceApp.apimanagerUsedResourceScope.scope">Scope</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let usedResourceScope of usedResourceScopes ;trackBy: trackId">
                <td><a [routerLink]="['/used-resource-scope', usedResourceScope.id, 'view' ]">{{usedResourceScope.id}}</a></td>
                <td>
                    <div *ngIf="usedResourceScope.resourceId">
                        <a [routerLink]="['../resource', usedResourceScope.resourceId , 'view' ]" >{{usedResourceScope.resourceId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="usedResourceScope.scopeId">
                        <a [routerLink]="['../resource-scope', usedResourceScope.scopeId , 'view' ]" >{{usedResourceScope.scopeId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/used-resource-scope', usedResourceScope.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/used-resource-scope', usedResourceScope.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'used-resource-scope', { outlets: { popup: usedResourceScope.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
